ul {
  padding-left: 1.2rem;
}

li::marker {
  color: #0d6efd; /* Bootstrap primary blue */
}
/* From Uiverse.io by bhaveshxrawat */ 
.card {
  width: 190px;
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card strong {
  z-index: 1;
  color: white;
  font-size: 1.3rem;
}
.card p{
  z-index: 1;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
 
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
.card:hover:before {
  background-image: linear-gradient(180deg, rgb(121, 71, 110), rgb(0, 87, 128));
  animation: rotBGimg 3.5s linear infinite;
}

@media (max-width: 994px ) and (min-width: 786px) {
  .card {
    width: 150px;
    height: 200px;
  }

  .card strong {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 0.8rem;
  };
  .d-flex {
    
    flex-direction: column !important;
    align-items: center !important;
  }
  
}