body {
  margin: 0;
   background:radial-gradient(ellipse  at top,#580d5f, #063d31  ,#260135 90%);
   background-size: 150% 100%;
   animation: bg-animation 3s ease-in-out infinite alternate;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;   
}
@keyframes bg-animation {
0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
