body {
  margin: 0;
background: fixed linear-gradient(135deg, #509ec0 0%, #4a7e7e 40%, #9cb977 70%, #ff5fa2 100%);

   background-size: 120% 120%; 
   animation: bg-animation 3s ease-in-out infinite alternate;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;   
}
@keyframes bg-animation {
0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 10% 100%;
  }
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
