body {
  margin: 0;
background: linear-gradient(135deg, #0f2027 0%, #2c5364 40%, #a83279 70%, #ff5fa2 100%);

   background-size: 120% 120%; 
   animation: bg-animation 3s ease-in-out infinite alternate;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;   
}
@keyframes bg-animation {
0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 10% 100%;
  }
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
