.glass-form{
  background:radial-gradient(circle at top left, rgba(204, 51, 51, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(102, 68, 163, 0.1);

}
.text-muted{
    color: #1f4949 !important;
}
.glass-form .form-control{
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
}
.glass-form .form-control:focus{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.glass-form .btn-primary{
    background: rgba(102, 68, 163, 0.7);
    border: none;
}
